[submodule "raspberry"]
	path = raspberry
	url = ./
	branch = hardware/raspberry
[submodule "esp32"]
	path = esp32
	url = ./
	branch = hardware/esp32
[submodule "UICorner"]
	path = UICorner
	url = ./
	branch = hardware/UICorner
[submodule "gameController2buttons1joystick"]
	path = gameController2buttons1joystick
	url = ./
	branch = hardware/gameController2buttons1joystick
[submodule "gameController3buttons"]
	path = gameController3buttons
	url = ./
	branch = hardware/gameController3buttons
