[submodule "hardware/UICorner"]
	path = hardware/UICorner
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/UICorner
[submodule "hardware/esp32"]
	path = hardware/esp32
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/esp32
[submodule "hardware/gameController2buttons1joystick"]
	path = hardware/gameController2buttons1joystick
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/gameController2buttons1joystick
[submodule "hardware/gameController3buttons"]
	path = hardware/gameController3buttons
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/gameController3buttons
[submodule "hardware/raspberry"]
	path = hardware/raspberry
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/raspberry
[submodule "UICorner"]
	path = UICorner
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/UICorner
[submodule "esp32"]
	path = esp32
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/esp32
[submodule "gameController2buttons1joystick"]
	path = gameController2buttons1joystick
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/gameController2buttons1joystick
[submodule "gameController3buttons"]
	path = gameController3buttons
	url = https://github.com/robinAZERTY/PING2.git
	branch = hardware/gameController3buttons
